# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# App
# Use the production URL when deploying to production
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Database (Turso DB)
DATABASE_URL=file:./local.db
DATABASE_AUTH_TOKEN="db_auth_token"

# Auth (Clerk Auth)
# pk_test, and sk_test are development keys
# For production, use pk_live, and sk_live keys (a domain is required)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_"
CLERK_SECRET_KEY="sk_test_"

# uploadthing
UPLOADTHING_SECRET="sk_live_"
UPLOADTHING_APP_ID="•••••••••••••••••"

